<IfModule mod_rewrite.c>
RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^contato/?$ contato.php
Rewriterule ^galeria/?$ galeria.php
RewriteRule ^cardapio/?$ cardapio.php
RewriteRule ^conheca-santarem/?$ conheca-santarem.php
RewriteRule ^conheca-santarem/pg/([a-z0-9-]*)\/?$ conheca-santarem.php?pg=$1
RewriteRule ^quem-somos\/?([1-3]*)\/?$ quem-somos.php?qs_pg2805=$1

</IfModule>
